@import './navbar.css';

.header {
    background-color: var(--black);
    padding-block: 1rem;
    padding-inline: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 375px) {
    .header .navbar {
        display: none;
    }

    .header .button {
        display: none;
    }
}