.store {
    background-image: url(../images/background2.png);
    background-color: var(--greylight);
    padding-block-start: 12.9375rem;
    padding-block-end: 21.6875rem;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.store .service-description {
    max-inline-size: 28.625rem;
}

.store-image {
    display: none;
}

@media screen and (max-width: 375px) {
    .store {
        background-size: cover;
        padding-block-start: 4rem;
        padding-block-end: 8rem;
        display: flex;
        flex-direction: column;
        background-position-x: 77%;
        padding-inline: 1.25rem;
    }

    .store-image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-block-start: 4rem;
    }
}